div{
    border: 1px solid grey; 
    width: 300px; 
    font-weight: bold;
    margin: auto;
}
article {
    padding: 0px 10px;
    border: 1px solid gray;
}

footer {
    padding: 10px;
}
a {
    margin: 0 10px;
}
img {
    max-width: inherit;
    max-height: inherit;
    width: inherit;
    height: inherit;
    object-fit: contain;

}