* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

section {
  display: flex;
  gap: 1em; 
  justify-content: space-between
}

div {
    height: 24em;
    padding: 2em;
    
}

ul {
    padding: 0;
    
  }
  
  li {
    background-color: white;
    width: 3em;
    padding: 1em;
    display: block;
    margin: 1em auto;
  }

#yellow {
    background-color: yellow;
    width: 120px;
    flex: 1 1 auto;
}

#red {
    background-color: red;
    width: 120px;
    flex: 1 1 auto;
}

#green {
    background-color: rgb(94, 197, 94);
    width: 100px;
    flex: 1 1 auto;
}

#orange {
    background-color: orange;
    width: 300px;
    flex: 1 1 auto;
}

#blue {
    background-color: rgb(133, 158, 212);
    width: 90px;
    flex: 1 1 auto;
}